.article{
  h1 {
    display: none;
  }

  h2 {
    font-size: 1.5em;
    color: #ca1b30;
    font-weight: bold;
    margin: 1.5em 0 1em 0;
  }

  p {
    margin: 1em 0 1em 0;
    font-size: 1em;
    line-height: 2em;
    text-indent: 2em;
  }

  ul {
    font-size: 1em;
    line-height: 2em;
    list-style: square;
    margin-left: 2em;
  }

  img {
    width: 80%;
    margin: 0 auto;
  }

  a {
    @apply text-red-600
  }




}
